
body{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8;
}
p {
    font-size: 14px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

/* animation */
.item-gallery:nth-child(1){
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.item-gallery:nth-child(2){
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.item-gallery:nth-child(3){
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}
.item-gallery:nth-child(4){
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}
.item-gallery:nth-child(5){
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}
.item-gallery:nth-child(6){
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

.fa-skype{
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}
.fa-facebook-official{
    position: relative;
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;
}
.fa-linkedin{
    position: relative;
    -webkit-animation: ani-show 1s 1; /* Safari 4.0 - 8.0 */
    -webkit-animation: ani-show 0.3s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
}

.enable-animation{
    position: relative;
    visibility: hidden;
}
.gallerys-animation:nth-child(1){
    position: relative;
    -webkit-animation: ani-show 1s 1; /* Safari 4.0 - 8.0 */
    animation: ani-show 1s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@-webkit-keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 10px;}
    99% {
        visibility: visible;
      }
    100% {
        visibility: hidden;
      }
  }
  
@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 10px;}
    99% {
        visibility: visible;
        opacity: 0;
      }
    100% {
        visibility: hidden;
        opacity: 1;
      }
}

@-webkit-keyframes ani-show {
    from {bottom: -30px;}
    to {bottom: 0px;}
    0% {
        opacity: 0;
      }
    100% {
    visibility: visible;
    opacity: 1;
    }
  }
  
@keyframes ani-show {
    from {bottom: -30px;}
    to {bottom: 0px;}
    0% {
        opacity: 0;
    }
    100% {
    visibility: visible;
    opacity: 1;
    }
}
